.md-grid {
    user-select: none;
}

.md-header {
    position: initial;
}

.md-tabs {
    position: initial;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: rgba(226, 229, 228, 0.5);
    --md-default-fg-color--light: var(--md-typeset-color);
    --md-typeset-a-color: rgb(226, 229, 228);
}

[data-md-color-scheme="default"] hr {
    border-color: var(--md-typeset-color);
    border-width: 1px;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: transparent;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

[data-md-color-scheme="slate"] .bg-image {
    filter: brightness(0.3);
}

.mdx-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.mdx-container .md-grid {
    position: relative;
    height: 100%;
}

.md-grid .mdx-attribution {
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    font-size: .8rem;
    border-radius: .3rem;
    padding: .2rem .4rem;
    background-color: rgba(0, 0, 0, .5);
}

.md-grid .mdx-content {
    position: absolute;
    bottom: 5rem;
    left: 1rem;
}

.mdx-content h1 {
    font-size: 2rem;
    font-weight: 700;
}

.mdx-content p {
    font-size: 1.5rem;
    font-weight: 600;
}

.mdx-content a {
    color: #000000de;
    font-size: 1.5rem;
    font-weight: 600;
}

.md-overlay {
    display: none;
}

.md-sidebar__scrollwrap {
    z-index: 0;
}

@media screen and (min-width:60em) {
    .md-sidebar--secondary {
        display: none
    }
}

@media screen and (min-width:76.25em) {
    .md-sidebar--primary {
        display: none
    }
}